<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>PizzaFabrics</title>
<link th:href="@{/css/main.css}" rel="stylesheet"/>

	<style>
		body{
		background: linear-gradient(to left, #FFE4E1 82%, pink 18%);
    	height: 100%;}
	</style>
	
</head>
<body>
	
	<div class="wrapper">
		<div class="light">
			<div> <a th:href ="@{/fabric}" th:text = "HomePage" ></a></div>
			<tr th:each ="element : ${ListOfType}">
			<div class="divmargin">
				<a th:href ="@{fabric/{category}(category=${element.category})}" th:text = "${element.category}" ></a>
			</div>	
		</tr>
		</div>
	</div>
	
	

</body>
</html>