<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title th:text=${param.category}></title>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
	<style>
		body{
		background: linear-gradient(to left, #FFE4E1 82%, pink 18%);
    	height: 100%;}
	</style>

</head>

<body>
	
	<div class="wrapper">
	
		<div class="light" ><a th:href ="@{/fabric}" th:text = "HomePage" ></a></div>
		<div class="column">
			<tr th:each ="element: ${ListOfDefiniteCategory}">
				<div class="setk">
					<img th:src="@{${'/img/'+element.photo_url}}" alt=""/><br>
					<b><td th:text = "${element.name}" ></td><br></b>
					<td th:text = "${element.text}" ></td><br>
					<b><td th:text = "${element.cost} +'&#8381;'" ></td><br></b>
					
				</div>	
			</tr>
		</div>
		
		
	</div>
		

</body>
</html>